.index-msg-alert
  = render 'shared/flash'
%header.parallax-bg.header-bg
  .container.text-center
    = link_to root_path, class: 'intro-logo' do
      = image_tag "bacomm-logo-white_150.png", class: 'img-responsive'
    %h1
      Bay Area Commercial &amp; Multifamily
    %ul.text-justify
      %li Empowering investors of all experience levels to gain tools and knowledge to evaluate and acquire commercial &amp; multifamily real estate investments.
      %li Advance from rental homes and move up to the big leagues of real estate investing.
      %li Network with other investors and professionals in the field.
    .btn-block
      %a.lt-btn{href: "https://www.meetup.com/bacomm/", target:'_blank'}
        Sign Up on Meetup
      %a.rt-btn{href: "https://www.facebook.com/bacommclub", target:'_blank'}
        Watch on Facebook Live
%section.container
  .row
    .col-md-3.col-sm-4.col-xs-12.text-center
      = image_tag "tomwilson.jpg", class: 'img-responsive img-left', alt: "Tom K Wilson"
    .col-md-9.col-sm-8.col-xs-12.intro-content
      %p Tom K. Wilson is a 5 decade real estate investing veteran who has bought and sold over 4,000 units and over $450M of real estate in 6 states, including three condo conversion projects, 17 syndications, 8 multifamily, 13 commercial, and over 600 residential properties.
      %p After thirty years of managing some of the Silicon Valley’s pioneering technology companies, Mr. Wilson put his business and management experience toward fulltime investing. Mr. Wilson is the weekly host ofthe Real Estate Radio POWER investing radio program on KDOW 1220 am every Wednesday at 2 pm PST and is a popular speaker on real estate investing.
  %hr
  .row.mr-top-35
    .col-md-3.col-sm-4.col-xs-12.text-center.pull-right
      = image_tag "jennifer.png", class: 'img-responsive img-right'
    .col-md-9.col-sm-8.col-xs-12.intro-content.pull-left
      %p Jennifer is the Organizer of BACOMM and manages all events and marketing at Wilson Investment Properties, the sponsor company for BACOMM. Jennifer managed a product roadshows business for two years, where she developed herself in speaking to crowds and engaging at people. Since her first real estate investing seminar in early 2016, Jennifer is now an investor in commercial syndications and is always looking to give to those who want to learn. Jennifer received her BA from UCLA and her background is in fine art, art auctions, direct sales, and sales management.

%section.text-center.meetup-bg
  %h3 Join Our Events
  -# %a.btn.join-us{:href => "https://www.meetup.com/bacomm/", :target => "_blank"}
  -#   Join Us
  -#   %span.fa.fa-angle-right{"aria-hidden" => "true"}
%section.container.events-data
  .list-selection
    %ul#building_type_menu.list-unstyled
      %li.li-class{class: (params[:events] == 'past')? '' : 'active'}
        %a.toggle-ba{:href => 'javascript:;', "data-url" => root_url } Upcoming Events
      %li.li-class{ class: (params[:events] == 'past')? 'active' : '' }
        %a.toggle-ba{:href => 'javascript:;', "data-url" => root_url(events: :past) } Past Events


  #event-listing
    - if @events.present?
      = render partial: 'events', locals: {events: @events}
    - else
      %h3.text-muted No events

  - if @next_page.present?
    .text-center.pad-btm-5.load_more_events
      = hidden_field_tag 'next_page', @next_page
      = hidden_field_tag 'event_status', params[:events]
      = button_tag id: 'load_more_events', class: 'btn load-more' do
        %i.fa.fa-th{"aria-hidden" => "true"}
        More Events

%footer
  .container
    .row
      .col-sm-6.col-xs-12.links-1
        %ul.list-inline
          %li
            %a{href: "mailto:info@tomwilsonproperties.com"}
              %span.fa.fa-envelope-o{"aria-hidden" => "true"}
              info@tomwilsonproperties.com
          %li
            %span.fa.fa-phone
            408-867-1867
      .col-sm-6.col-xs-12.links-2
        %ul.list-inline
          %li
            %a{href: "http://www.tomwilsonproperties.com", target: "_blank"}
              %span.fa.fa-globe
              www.tomwilsonproperties.com
          %li
            %span.fa.fa-map-marker
            Saratoga, CA

=# javascript_include_tag "jquery.parallax-1.1.3.js"
:javascript
  $(document).ready(function(){
    $('.parallax-bg').parallax("50%",.63);
  });
